.maincontainer {
    height: 100vh;
  }
  
  .bg-image {
    background: url('https://images.pexels.com/photos/1350789/pexels-photo-1350789.jpeg') no-repeat center center;
    background-size: cover;
  }
  
  .bg-white {
    background-color: #fff;
  }
  
  .login {
    width: 100%;
    max-width: 400px; /* Adjust width as needed */
    margin: 0 auto;
  }
  
  .footer {
    position: absolute;
    bottom: 0;
    width: 100%;
  }
  